<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Storage_control"
        tools:targetApi="31">

        <!-- ГЛАВНАЯ ACTIVITY - ЭКРАН РЕГИСТРАЦИИ/ВХОДА -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ВТОРАЯ ACTIVITY - ГЛАВНЫЙ ЭКРАН ПОСЛЕ ВХОДА -->
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".OrderDetailActivity"
            android:label="Детали заказа"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".EditOrderActivity"
            android:label="Редактирование заказа"
            android:parentActivityName=".OrderDetailActivity" />

    </application>
</manifest>